# === Django ===
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
.env.*
/staticfiles/
/media/
.DS_Store
# VSCode
.vscode/

# === Angular ===
/node_modules/
/dist/
/.angular/cache/
/.angular/local/
/.env
.env.*
# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# === General ===
*.swp
*~
Thumbs.db
